/*CSS content*/

/*
Common styling
Style for content pages
Layout / Grid
Individual page styling
- forside
-login
- menu
-skema
-materialer
-afleveringer
-aflevering udvidet
Form styling
*/


/*Common styling - alle sider*/

@font-face {
    font-family: canada-type-gibson, sans-serif;
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-style: normal;
}


body {

    width: 400px;
    height: 100%;
    background-color: #FAF7F7;
    margin: 0;

}




.container {

    background-color: #FAF7F7;
    padding: 15px;

}

.information {

    background-color: #FAF7F7;

}

p {
    font-family: canada-type-gibson;
    color: #F58E81;
    font-size: 12px;

}

h1 {
    font-family: canada-type-gibson;
    color: #F58E81;
    font-size: 40px;


}

h2 {
    font-family: canada-type-gibson;
    color: #F58E81;
    font-size: 20px;


}

h3 {
    font-family: canada-type-gibson;
    color: #F58E81;
    font-size: 12px;

}

h4 {
    font-family: canada-type-gibson;
    color: #F58E81;
    font-size: 12px;

}

h5 {
    font-family: canada-type-gibson;
    color: #F58E81;
    font-size: 10px;
    font-weight: 400;

}

/*Style for content pages*/

.header_frontpage {

    background-color: #EA5045;
    padding-left: 10px;
}


/*indholdet i grå oversigt*/

.oversigt {

    background-color: #DEDCDB;
    padding: 10px;

    display: flex;
    flex-wrap: wrap;
    flex-basis: 0;
    justify-content: space-between;

}


.oversigt h3 {
    color: black;
}

.oversigt h4,
h5 {
    color: #707070;
}


/*dato styling*/

.dato {
    padding: 2px;
    background-color: #3F3140;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;

}

.dagsdato {
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.maaned p {
    color: white;
    margin: 5px;
    font-size: 15px;

}

.dag p {
    color: white;
    margin: 5px;
    font-size: 9px;
}

.datoen p {
    color: white;
    margin: 5px;
    font-size: 16px;
}

.dagsdato {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: canada-type-gibson;
}

/*bottom skema styling*/

footer a {
    padding: 10px;
    background-color: #3F3140;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

footer h3 {
    color: white;
}

/*Layout / Grit */

/*header til: forside, skema, materialer, afleveringer og afleveringer udvidet*/

.header_frontpage {
    display: grid;
    grid-template-columns: 300px 50px 50px;
    grid-template-rows: 20px 20px 20px;
}


.kealogo {
    grid-column: 1 / span 1;
    grid-row: 2;
}

.profil {
    grid-column: 2 / span 1;

    grid-row: 2;
}

.dropdown {
    grid-column: 3 / span 1;

    grid-row: 2;

}

/*grid til forsidens indhold*/
.container {
    display: grid;
    grid-template-columns: 110px 110px 110px;
    grid-template-rows: 110px 110px 110px 110px 110px 110px;
    grid-gap: 15px;
}

.box1 {}

.box2 {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
}

.box3 {
    grid-column: 2 / span 2;
    grid-row: 4 / span 2;

}


/*Individual page styling*/

/*forside*/



.container h3,
a {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    list-style-type: none;
    text-decoration: none;

}

.box1,
.box2,
.box3 {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

/*menu styling*/

.container_menu {
    background-color: #3F3140;

    width: 400px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;

}

.dropbtn {
    background-color: #EA5045;
    color: white;
    font-size: 16px;
    border: none;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #EA5045;
}

.dropdown {
    display: inline-block;
    list-style-type: none;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3F3140;
    width: 400px;
    overflow: auto;
    z-index: 1;
    transform: scale(1);
    transform-origin: right;
    transform: translateX(-90%);
}


.dropdown-content a,
.a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.show {
    display: block;
}

.dropdown-content .a {
    margin-bottom: 100px;
    margin-top: 50px;

}

.logud {
    background-color: #EA847C;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 120px;

}

.logud h2 {
    color: white;
}




/*skema styling*/

.kalender {
    display: flex;
    flex-wrap: wrap;
    background-color: white;

    width: 400px;
    flex-direction: column;
}

.modul1 {
    display: flex;
    flex-wrap: wrap;

    flex-grow: 2;
    margin-bottom: 15px;
    border-bottom-style: solid;
    border-bottom-color: #E2E8ED;
    width: auto;

}

.modul2 {
    display: flex;
    flex-wrap: wrap;

    flex-grow: 2;
    margin-bottom: 15px;

    border-bottom-style: solid;
    border-bottom-color: #E2E8ED;
    border-top-style: solid;
    border-top-color: #E2E8ED;
    width: auto;

}


.modul3 {
    display: flex;
    flex-wrap: wrap;

    flex-grow: 2;
    margin-bottom: 15px;
}

.tid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: auto;
    align-content: center;

}

.tid p {
    color: #BCC5D3;
}

.indhold,
indhold2,
p,
h4 {
    color: black;
}

.tidspunkt1 {

    width: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.tidspunkt1a {

    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    ;

}

.tidspunkt2 {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    border-top-style: solid;
    border-top-color: #E2E8ED;
}

.tidspunkt1b {

    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    border-top-style: solid;
    border-top-color: #E2E8ED;

}


.tidspunkt2b {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    border-top-style: solid;
    border-top-color: #E2E8ED;
    border-bottom-style: solid;
    border-bottom-color: #E2E8ED;
}


.tekst {
    flex-grow: 2;
    background-color: #F2F1F0;

    display: flex;
    flex-wrap: wrap;
    align-content: stretch;

    padding: 10px;

}

.tekst2 {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    flex-direction: column;
    border-bottom-style: solid;
    border-bottom-color: #E2E8ED;



}


.indhold {
    flex-grow: 2;



}

.indhold2 {
    background-color: #F2F1F0;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
    border-top-style: solid;
    border-top-color: #E2E8ED;


}


.indhold_img {
    align-self: center;
    flex-basis: 0;

}

.plan {
    padding-left: 10px;
    height: 60px;
}

.tom {
    background-color: white;

    display: flex;
    flex-wrap: wrap;
    border-bottom: solid;
    border-bottom-color: #E2E8ED;

}

.tom2 {
    background-color: white;
    height: 61.5px;

    display: flex;
    flex-wrap: wrap;
    border-top-style: solid;
    border-top-color: #E2E8ED;

}

.indhold_img2 {
    align-self: center;
    padding-right: 10px;
}



/*materialer styling*/

.materialer_indhold {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    flex-direction: column;
    height: 590px;
}

.materialer_indhold h3 {
    color: black;
}

.materialer_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    background-color: #F2F1F0;
    margin: 10px;

}

.materialer_img {
    align-self: flex-end;
}


/*aflevering styling*/

/*log-in skærm*/


.header_login {
    background-color: #EA5045;
    width: 400px;
    height: 175px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.header_login h3 {
    color: white;
    padding: 10px;
}

.container_login {
    background-color: #FAF7F7;
    padding: 20px;
    padding-top: 90px;
    height: 375px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;


}

.streg {
    display: flex;
    flex-wrap: wrap;
    margin-left: 129px;
    background-color: #DEDCDB;
    margin-top: 100px;
    width: 20px;
    height: 5px;
    border: 1px;
    border-style: solid;
    border-color: #DEDCDB;
    border-radius: 9999em;
}




/*Form styling*/

::placeholder {
    color: #F58E81;
    padding-left: 10px;
}



input[type=text],
input[type=email],
input[type=password],
input[type=submit] {
    border: 1px;
    border-style: solid;
    border-color: #FAF7F7;
    border-radius: 9999em;
    height: 40px;
    width: 290px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;



}

label,
.container_login a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;

    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    text-decoration: none;
    border: 1px;
    border-bottom-color: #EA5045;
    border-style: solid;
    border-radius: 999999em;
    background-color: #EA5045;
    padding: 5px;

    margin-left: 50px;
    margin-right: 50px;
    margin-top: 5px;

}

a:hover {
    color: darkred;
}

input[type=submit] {
    background-color: white;
    color: #EA5045;
    border: solid #EA5045;
    background: white url(img_icons/facebook_icon.svg) no-repeat;
    background-position: 10px;

}

input[type=submit]:hover {
    color: darkred;
    border: solid darkred;
}


input[value=Continue] {
    background-color: #EA5045;
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;

}
